LindenmeyerSystems/x64/Debug/App.obj
ipch/LINDENMEYERSYSTEMS-8dde2500/PCH-69cc3c85.ipch
.vs/LindenmeyerSystems/v14/.suo
LindenmeyerSystems/ARM/Debug/LindenmeyerSystems.vcxprojResolveAssemblyReference.cache
LindenmeyerSystems/x64/Debug/DeviceResources.obj
LindenmeyerSystems/x64/Debug/embed.resfiles
LindenmeyerSystems/x64/Debug/embed.resfiles.intermediate
LindenmeyerSystems/x64/Debug/layout.resfiles
x64/Debug/LindenmeyerSystems/SampleVertexShader.cso
x64/Debug/LindenmeyerSystems/SamplePixelShader.cso
x64/Debug/LindenmeyerSystems/LindenmeyerSystems.winmd
x64/Debug/LindenmeyerSystems/resources.pri
x64/Debug/LindenmeyerSystems/LindenmeyerSystems.pdb
x64/Debug/LindenmeyerSystems/LindenmeyerSystems.ilk
x64/Debug/LindenmeyerSystems/LindenmeyerSystems.exe
x64/Debug/LindenmeyerSystems/LindenmeyerSystems.build.appxrecipe
x64/Debug/LindenmeyerSystems/AppxManifest.xml
x64/Debug/LindenmeyerSystems/AppX/vs.appxrecipe
x64/Debug/LindenmeyerSystems/AppX/SampleVertexShader.cso
x64/Debug/LindenmeyerSystems/AppX/SamplePixelShader.cso
x64/Debug/LindenmeyerSystems/AppX/resources.pri
x64/Debug/LindenmeyerSystems/AppX/LindenmeyerSystems.winmd
x64/Debug/LindenmeyerSystems/AppX/LindenmeyerSystems.exe
x64/Debug/LindenmeyerSystems/AppX/Assets/Wide310x150Logo.scale-200.png
x64/Debug/LindenmeyerSystems/AppX/Assets/StoreLogo.png