LindenmeyerSystems/x64/Debug/App.obj
ipch/LINDENMEYERSYSTEMS-8dde2500/PCH-69cc3c85.ipch
.vs/LindenmeyerSystems/v14/.suo
LindenmeyerSystems/ARM/Debug/LindenmeyerSystems.vcxprojResolveAssemblyReference.cache
LindenmeyerSystems/x64/Debug/DeviceResources.obj
LindenmeyerSystems/x64/Debug/embed.resfiles
LindenmeyerSystems/x64/Debug/embed.resfiles.intermediate
LindenmeyerSystems/x64/Debug/layout.resfiles
x64/Debug/LindenmeyerSystems/SampleVertexShader.cso
x64/Debug/LindenmeyerSystems/SamplePixelShader.cso
x64/Debug/LindenmeyerSystems/LindenmeyerSystems.winmd
x64/Debug/LindenmeyerSystems/resources.pri
x64/Debug/LindenmeyerSystems/LindenmeyerSystems.pdb
x64/Debug/LindenmeyerSystems/LindenmeyerSystems.ilk
x64/Debug/LindenmeyerSystems/LindenmeyerSystems.exe
x64/Debug/LindenmeyerSystems/LindenmeyerSystems.build.appxrecipe
x64/Debug/LindenmeyerSystems/AppxManifest.xml
x64/Debug/LindenmeyerSystems/AppX/vs.appxrecipe
x64/Debug/LindenmeyerSystems/AppX/SampleVertexShader.cso
x64/Debug/LindenmeyerSystems/AppX/SamplePixelShader.cso
x64/Debug/LindenmeyerSystems/AppX/resources.pri
x64/Debug/LindenmeyerSystems/AppX/LindenmeyerSystems.winmd
x64/Debug/LindenmeyerSystems/AppX/LindenmeyerSystems.exe
x64/Debug/LindenmeyerSystems/AppX/Assets/Wide310x150Logo.scale-200.png
x64/Debug/LindenmeyerSystems/AppX/Assets/StoreLogo.png
LindenmeyerSystems/x64/Debug/layout.resfiles.intermediate
LindenmeyerSystems/x64/Debug/Lindenme.1803d122.tlog/CL.command.1.tlog
LindenmeyerSystems/x64/Debug/Lindenme.1803d122.tlog/CL.read.1.tlog
LindenmeyerSystems/x64/Debug/Lindenme.1803d122.tlog/CL.write.1.tlog
LindenmeyerSystems/x64/Debug/Lindenme.1803d122.tlog/FXC.command.1.tlog
LindenmeyerSystems/x64/Debug/Lindenme.1803d122.tlog/fxc.read.1.tlog
LindenmeyerSystems/x64/Debug/Lindenme.1803d122.tlog/fxc.write.1.tlog
LindenmeyerSystems/x64/Debug/Lindenme.1803d122.tlog/LindenmeyerSystems.lastbuildstate
LindenmeyerSystems/x64/Debug/Lindenme.1803d122.tlog/LindenmeyerSystems.read.1u.tlog
LindenmeyerSystems/x64/Debug/Lindenme.1803d122.tlog/LindenmeyerSystems.write.1u.tlog
LindenmeyerSystems/x64/Debug/Lindenme.1803d122.tlog/link.12816.delete.1.tlog
LindenmeyerSystems/x64/Debug/Lindenme.1803d122.tlog/link.5292.delete.1.tlog
LindenmeyerSystems/x64/Debug/Lindenme.1803d122.tlog/link.read.1.tlog
LindenmeyerSystems/x64/Debug/Lindenme.1803d122.tlog/link.command.1.tlog
LindenmeyerSystems/x64/Debug/Lindenme.1803d122.tlog/link.write.1.tlog
LindenmeyerSystems/x64/Debug/pch.obj
LindenmeyerSystems/x64/Debug/priconfig.xml
LindenmeyerSystems/x64/Debug/LindenmeyerSystems.vcxprojResolveAssemblyReference.cache
LindenmeyerSystems/x64/Debug/LindenmeyerSystems.log
LindenmeyerSystems/x64/Debug/LindenmeyerSystemsMain.obj
LindenmeyerSystems/x64/Debug/LSystemObject.obj
LindenmeyerSystems/x64/Debug/MultipleQualifiersPerDimensionFound.txt
LindenmeyerSystems/x64/Debug/pch.pch
LindenmeyerSystems/x64/Debug/pri.resfiles
LindenmeyerSystems/x64/Debug/pri.resfiles.intermediate
LindenmeyerSystems/x64/Debug/priconfig.xml.intermediate
LindenmeyerSystems/x64/Debug/ProjectArchitectures.txt
LindenmeyerSystems/x64/Debug/qualifiers.txt
LindenmeyerSystems/x64/Debug/qualifiers.txt.intermediate
LindenmeyerSystems/x64/Debug/ResourceHandlingTask.state
LindenmeyerSystems/x64/Debug/resources.resfiles
LindenmeyerSystems/x64/Debug/resources.resfiles.intermediate
LindenmeyerSystems/x64/Debug/Sample3DSceneRenderer.obj
LindenmeyerSystems/x64/Debug/SampleFpsTextRenderer.obj
LindenmeyerSystems/x64/Debug/vc140.idb
LindenmeyerSystems/x64/Debug/vc140.pdb
x64/Debug/LindenmeyerSystems/AppX/AppxManifest.xml
x64/Debug/LindenmeyerSystems/AppX/Assets/LockScreenLogo.scale-200.png
x64/Debug/LindenmeyerSystems/AppX/Assets/SplashScreen.scale-200.png
x64/Debug/LindenmeyerSystems/AppX/Assets/Square150x150Logo.scale-200.png
x64/Debug/LindenmeyerSystems/AppX/Assets/Square44x44Logo.scale-200.png
x64/Debug/LindenmeyerSystems/AppX/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
LindenmeyerSystems/x64/Debug/Lindenme.1803d122.tlog/link.8384.delete.1.tlog
LindenmeyerSystems/x64/Debug/LSystemInterpreter.obj